@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--===============================================================================================-->
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("images/icons/favicon.ico")"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("vendor/bootstrap/css/bootstrap.min.css")">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/main.css")">
        <!--===============================================================================================-->

    </head>
    <body style="background-color:#f7fbf9;">
        @* And here's where we render the `Html` object containing
         * the page content. *@
        @navigationbar.render

        @content



      <!--===============================================================================================-->
	    <script src="@routes.Assets.versioned("vendor/jquery/jquery-3.2.1.min.js")"></script>
        <!--===============================================================================================-->
        <script src="@routes.Assets.versioned("vendor/bootstrap/js/popper.js")"></script>
        <script src="@routes.Assets.versioned("vendor/bootstrap/js/bootstrap.min.js")"></script>
        <!--===============================================================================================-->
        <script src="@routes.Assets.versioned("vendor/select2/select2.min.js")"></script>
        <!--===============================================================================================-->
        <script src="@routes.Assets.versioned("vendor/tilt/tilt.jquery.min.js")"></script>
        <!--===============================================================================================-->
        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
    </body>
</html>
